<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Preskool - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, html5, responsive, Projects">
    <meta name="author" content="Dreams technologies - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Preskool Admin</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- Theme Script js -->
    <script src="assets/js/theme-script.js" type="0ad250200dd4b2338fce5bdd-text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Feather CSS -->
    <link rel="stylesheet" href="assets/plugins/icons/feather/feather.css">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="assets/plugins/tabler-icons/tabler-icons.css">

    <!-- Daterangepikcer CSS -->
    <link rel="stylesheet" href="assets/plugins/daterangepicker/daterangepicker.css">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <!-- Datatable CSS -->
    <link rel="stylesheet" href="assets/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
           <%- include('header') %>
        <!-- /Header -->

        <!-- Sidebar -->
      <%- include('sidebar') %>
        <!-- /Sidebar -->

        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <div class="content">
                <div class="row">

                    <!-- Page Header -->
                    <div class="col-md-12">
                        <div class="d-md-flex d-block align-items-center justify-content-between mb-3">
                            <div class="my-auto mb-2">
                                <h3 class="page-title mb-1">Student Details</h3>
                                <nav>
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item">
                                            <a href="index.html">Dashboard</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="students.html">Student</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Student Details</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="d-flex my-xl-auto right-content align-items-center  flex-wrap">
                                <a href="edit-student.html" class="btn btn-primary d-flex align-items-center mb-2"><i class="ti ti-edit-circle me-2"></i>Edit Student</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Page Header -->

                </div>

                <div class="row">

                    <!-- Student Information -->
                    <div class="col-xxl-3 col-xl-4 theiaStickySidebar">
                        <div class="card border-white">
                            <div class="card-header">
                                <div class="d-flex align-items-center flex-wrap row-gap-3">
                                    <div class="d-flex align-items-center justify-content-center avatar avatar-xxl border border-dashed me-2 flex-shrink-0 text-dark frames">
                                        <img src="<%=studentDetails?.student_profile_photo%>" class="img-fluid" alt="img">
                                    </div>
                                    <div class="overflow-hidden">
                                        <span class="badge badge-soft-success d-inline-flex align-items-center mb-1"><i class="ti ti-circle-filled fs-5 me-1"></i>Active</span>
                                        <h5 class="mb-1 text-truncate"><%=studentDetails?.first_name%> <%=studentDetails?.last_name%></h5>
                                        <p class="text-primary"><%=studentDetails?.student_id%></p>
                                    </div>
                                </div>
                            </div>

                            <!-- Basic Information -->
                            <div class="card-body">
                                <h5 class="mb-3">Basic Information</h5>
                                <dl class="row mb-0">
                                    <dt class="col-6 fw-medium text-dark mb-3">Roll No</dt>
                                    <dd class="col-6 mb-3"><%=studentDetails?.student_class?.roll_no%></dd>
                                    <dt class="col-6 fw-medium text-dark mb-3">Gender</dt>
                                    <dd class="col-6 mb-3"><%=studentDetails?.gender%></dd>
                                    <dt class="col-6 fw-medium text-dark mb-3">Date Of Birth</dt>
                                    <dd class="col-6 mb-3"><%=studentDetails?.date_of_birth%></dd>
                                    <dt class="col-6 fw-medium text-dark mb-3">Blood Group</dt>
                                    <dd class="col-6 mb-3"><%=studentDetails?.blood_group%></dd>
                                    <dt class="col-6 fw-medium text-dark mb-3">Reigion</dt>
                                    <dd class="col-6 mb-3"><%=studentDetails?.religion%></dd>
                                    <dt class="col-6 fw-medium text-dark mb-3">Caste</dt>
                                    <dd class="col-6 mb-3"><%=studentDetails?.caste%></dd>
                                    <dt class="col-6 fw-medium text-dark mb-3">Mother tongue</dt>
                                    <dd class="col-6 mb-3"><%=studentDetails?.mother_tongue%></dd>
                                </dl>
                            </div>
                            <!-- /Basic Information -->

                        </div>

                        <!-- Primary Contact Info -->
                        <div class="card border-white">
                            <div class="card-body">
                                <h5 class="mb-3">Primary Contact Info</h5>
                                <div class="d-flex align-items-center mb-3">
                                    <span class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i class="ti ti-phone"></i></span>
                                    <div>
                                        <span class="text-dark fw-medium mb-1">Phone Number</span>
                                        <p><%=studentDetails?.student_parent?.parent_contact_no%></p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i class="ti ti-mail"></i></span>
                                    <div>
                                        <span class="text-dark fw-medium mb-1">Email Address</span>
                                        <p><%=studentDetails?.student_parent?.email%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Primary Contact Info -->


                    </div>
                    <!-- /Student Information -->

                    <div class="col-xxl-9 col-xl-8">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- List -->
                                <ul class="nav nav-tabs nav-tabs-bottom mb-4">
                                    <li>
                                        <a href="student-details.html" class="nav-link active"><i class="ti ti-school me-2"></i>Student Details</a>
                                    </li>
                                </ul>
                                <!-- /List -->

                                <!-- Parents Information -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Parents Information</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="border rounded p-3 pb-0 mb-3">
                                            <div class="row">
                                                <div class="col-sm-6 col-lg-4">
                                                    <div class="d-flex align-items-center mb-3">
                                                        <span class="avatar avatar-lg flex-shrink-0">
															<img src="https://cdn-icons-png.flaticon.com/512/4530/4530507.png" class="img-fluid rounded"  alt="img">
														</span>
                                                        <div class="ms-2 overflow-hidden">
                                                            <h6 class="text-truncate"><%=studentDetails?.student_parent?.father_name%></h6>
                                                            <p class="text-primary">Father</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-lg-4">
                                                    <div class="mb-3">
                                                        <p class="text-dark fw-medium mb-1">Phone</p>
                                                        <p><%=studentDetails?.student_parent?.parent_contact_no%></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-lg-4">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div class="mb-3 overflow-hidden me-3">
                                                            <p class="text-dark fw-medium mb-1">Email</p>
                                                            <p class="text-truncate"><%=studentDetails?.student_parent?.email%></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="border rounded p-3 pb-0 mb-3">
                                            <div class="row">
                                                <div class="col-sm-6 col-lg-4">
                                                    <div class="d-flex align-items-center mb-3">
                                                        <span class="avatar avatar-lg flex-shrink-0">
															<img src="https://cdn-icons-png.flaticon.com/512/4530/4530507.png" class="img-fluid rounded"  alt="img">
														</span>
                                                        <div class="ms-2 overflow-hidden">
                                                            <h6 class="text-truncate"><%=studentDetails?.student_parent?.mother_name%></h6>
                                                            <p class="text-primary">Mother</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-lg-4">
                                                    <div class="mb-3">
                                                        <p class="text-dark fw-medium mb-1">Phone</p>
                                                        <p><%=studentDetails?.student_parent?.parent_contact_no%></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-lg-4">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div class="mb-3 overflow-hidden me-3">
                                                            <p class="text-dark fw-medium mb-1">Email</p>
                                                            <p class="text-truncate"><%=studentDetails?.student_parent?.email%></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- /Parents Information -->

                            </div>

                            <!-- Documents -->
                            <div class="col-xxl-6 d-flex">
                                <div class="card flex-fill">
                                    <div class="card-header">
                                        <h5>Documents</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="bg-light-300 border rounded d-flex align-items-center justify-content-between mb-3 p-2">
                                            <div class="d-flex align-items-center overflow-hidden">
                                                <span class="avatar avatar-md bg-white rounded flex-shrink-0 text-default"><i class="ti ti-pdf fs-15"></i></span>
                                                <div class="ms-2">
                                                    <p class="text-truncate fw-medium text-dark">BirthCertificate.pdf</p>
                                                </div>
                                            </div>
                                            <a href="<%=studentDetails?.student_birth_certificate%>" class="btn btn-dark btn-icon btn-sm"><i class="ti ti-download"></i></a>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            <!-- /Documents -->

                            <!-- Address -->
                            <div class="col-xxl-6 d-flex">
                                <div class="card flex-fill">
                                    <div class="card-header">
                                        <h5>Address</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex align-items-center mb-3">
                                            <span class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i class="ti ti-map-pin-up"></i></span>
                                            <div>
                                                <p class="text-dark fw-medium mb-1">Current Address</p>
                                                <p><%=studentDetails?.address%></p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i class="ti ti-map-pins"></i></span>
                                            <div>
                                                <p class="text-dark fw-medium mb-1">Permanent Address</p>
                                                <p><%=studentDetails?.address%></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Address -->



                            <!-- Other Info -->
                            <div class="col-xxl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Other Info</h5>
                                    </div>
                                    <div class="card-body">
                                        <p><%=studentDetails?.other_notes%></p>
                                    </div>
                                </div>
                            </div>
                            <!-- /Other Info -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /Page Wrapper -->




    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="assets/js/jquery-3.7.1.min.js" type="0ad250200dd4b2338fce5bdd-text/javascript"></script>

    <!-- Bootstrap Core JS -->
    <script src="assets/js/bootstrap.bundle.min.js" type="0ad250200dd4b2338fce5bdd-text/javascript"></script>

    <!-- Daterangepikcer JS -->
    <script src="assets/js/moment.js" type="0ad250200dd4b2338fce5bdd-text/javascript"></script>
    <script src="assets/plugins/daterangepicker/daterangepicker.js" type="0ad250200dd4b2338fce5bdd-text/javascript"></script>

    <!-- Feather Icon JS -->
    <script src="assets/js/feather.min.js" type="0ad250200dd4b2338fce5bdd-text/javascript"></script>

    <!-- Slimscroll JS -->
    <script src="assets/js/jquery.slimscroll.min.js" type="0ad250200dd4b2338fce5bdd-text/javascript"></script>

    <!-- Datetimepicker JS -->
    <script src="assets/js/bootstrap-datetimepicker.min.js" type="0ad250200dd4b2338fce5bdd-text/javascript"></script>

    <!-- Select2 JS -->
    <script src="assets/plugins/select2/js/select2.min.js" type="0ad250200dd4b2338fce5bdd-text/javascript"></script>

    <!-- Datatable JS -->
    <script src="assets/js/jquery.dataTables.min.js" type="0ad250200dd4b2338fce5bdd-text/javascript"></script>
    <script src="assets/js/dataTables.bootstrap5.min.js" type="0ad250200dd4b2338fce5bdd-text/javascript"></script>

    <!-- Sticky Sidebar JS -->
    <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js" type="0ad250200dd4b2338fce5bdd-text/javascript"></script>
    <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" type="0ad250200dd4b2338fce5bdd-text/javascript"></script>

    <!-- Custom JS -->
    <script src="assets/js/script.js" type="0ad250200dd4b2338fce5bdd-text/javascript"></script>

    <script src="https://preskool.dreamstechnologies.com/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="0ad250200dd4b2338fce5bdd-|49" defer></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"95d0e28b7a407e67","serverTiming":{"name":{"cfExtPri":true,"cfEdge":true,"cfOrigin":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"version":"2025.6.2","token":"3ca157e612a14eccbb30cf6db6691c29"}'
        crossorigin="anonymous"></script>
</body>

</html>