<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Preskool - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, html5, responsive, Projects">
    <meta name="author" content="Dreams technologies - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Preskool Admin</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- Theme Script js -->
    <script src="assets/js/theme-script.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Feather CSS -->
    <link rel="stylesheet" href="assets/plugins/icons/feather/feather.css">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="assets/plugins/tabler-icons/tabler-icons.css">

    <!-- Daterangepikcer CSS -->
    <link rel="stylesheet" href="assets/plugins/daterangepicker/daterangepicker.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="assets/plugins/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/plugins/owlcarousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">


    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

    <div id="global-loader">
        <div class="page-loader"></div>
    </div>
    <!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add New Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="addForm" onsubmit="return false">
                        <!-- Title -->
                        <div class="mb-3">
                            <label for="title" class="form-label fw-bold">Title</label>
                            <input type="text" name="title" class="form-control" id="title" placeholder="Enter title" />
                        </div>

                        <!-- Description -->
                        <div class="mb-3">
                            <label for="description" class="form-label fw-bold">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3"
                                placeholder="Enter description"></textarea>
                        </div>

                        <!-- Image Upload -->
                        <div class="mb-3">
                            <label for="image_upload" class="form-label fw-bold">Upload Image</label>
                            <div class="profile-uploader profile-uploader-two mb-2 text-center">
                                <span class="d-block lh-1 fs-24 mb-1"><i class="ti ti-upload"></i></span>
                                <div class="drag-upload-btn bg-transparent border-0">
                                    <p class="fs-12 mb-2"><span class="text-primary">Click to Upload</span> or drag and
                                        drop</p>
                                    <h6>JPG or PNG (Max 450 x 450 px)</h6>
                                </div>
                                <input type="file" class="form-control" id="image_upload" accept="image/*"
                                    onchange="handleFileUpload(event)" />
                            </div>
                            <div id="imagePreview" class="mt-3 text-center"></div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer gap-3">
                    <button type="submit" class="btn btn-success" id="saveSetting"
                        onclick="saveSetting('carousel')">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <%- include('header') %>
            <!-- /Header -->

            <!-- Sidebar -->
            <%- include('sidebar') %>
                <!-- /Sidebar -->

                <!-- Page Wrapper -->
                <div class="page-wrapper">
                    <div class="content bg-white">
                        <div class="d-md-flex d-block align-items-center justify-content-between border-bottom pb-3">
                            <div class="my-auto mb-2">
                                <h3 class="page-title mb-1">App Settings</h3>
                                <nav>
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item">
                                            <a href="index.html">Dashboard</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="javascript:void(0);">Settings</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">App Settings</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
                                <div class="pe-1 mb-2">
                                    <a href="#" class="btn btn-outline-light bg-white btn-icon" data-bs-toggle="tooltip"
                                        data-bs-placement="top" aria-label="Refresh" data-bs-original-title="Refresh">
                                        <i class="ti ti-refresh"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-2 col-xl-3">
                                <div class="pt-3 d-flex flex-column list-group mb-4">
                                    <a href="#" class="tab d-block rounded p-2 active"
                                        onclick="showSection('invoice_settings', this)">Invoice Settings</a>
                                    <a href="#" class="tab d-block rounded p-2"
                                        onclick="showSection('custom_fields', this)">School Settings</a>
                                </div>
                            </div>
                            <div class="col-xxl-10 col-xl-9">
                                <div class="flex-fill border-start ps-3">
                                    <div id="invoice_settings">
                                        <div
                                            class="d-flex align-items-center justify-content-between flex-wrap border-bottom pt-3 mb-3">
                                            <div class="mb-3">
                                                <h5 class="mb-1">Website Settings</h5>
                                                <p>Collection of settings for Website</p>
                                            </div>
                                            <div class="mb-3">
                                                <button class="btn btn-light me-2" type="button">Cancel</button>
                                                <button class="btn btn-primary" type="submit">Save</button>
                                            </div>
                                        </div>
                                        <div class="d-md-flex d-block">
                                            <div class="row flex-fill">
                                                <div class="col-xl-10">
                                                    <div class="settings-middle-info invoice-setting-wrap">
                                                        <div class="row align-items-center mb-2">
                                                            <% settingDetails.forEach((setting)=> { %>
                                                                <% if (setting?.type==='home_carousel' ) { %>
                                                                    <div class="card">
                                                                        <div class="card-body d-flex align-items-start"
                                                                            style="gap: 1rem;">
                                                                            <!-- Image (20% width) -->
                                                                            <div style="width: 20%;">
                                                                                <img src="<%= setting?.home_carousel_image_uri %>"
                                                                                    alt="Logo"
                                                                                    class="img-fluid rounded w-100">
                                                                            </div>

                                                                            <!-- Content (title, description, icons) -->
                                                                            <div style="flex: 1 1 0;">
                                                                                <!-- Action icons at top-right -->
                                                                                <div
                                                                                    class="d-flex justify-content-end mb-2">
                                                                                    <a href="javascript:void(0);"
                                                                                        class="text-primary border rounded fs-16 p-1 badge badge-primary-hover me-2">
                                                                                        <i
                                                                                            class="ti ti-edit-circle"></i>
                                                                                    </a>
                                                                                    <a href="javascript:void(0);"
                                                                                        class="text-danger border rounded fs-16 p-1 badge badge-danger-hover">
                                                                                        <i class="ti ti-trash-x"></i>
                                                                                    </a>
                                                                                </div>

                                                                                <!-- Title & Description -->
                                                                                <h5 class="fw-bold">
                                                                                    <%= setting?.home_carousel_title %>
                                                                                </h5>
                                                                                <p class="text-muted mb-0">
                                                                                    <%= setting?.home_carousel_description
                                                                                        %>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <% } %>
                                                                        <% }) %>

                                                                            <div
                                                                                class="position-absolute bottom-0 end-0 m-2">
                                                                                <button
                                                                                    class="btn btn-outline-none bg-white text-primary"
                                                                                    data-bs-toggle="modal"
                                                                                    data-bs-target="#addModal">
                                                                                    + Add
                                                                                </button>

                                                                            </div>


                                                        </div>

                                                        <div
                                                            class="d-flex align-items-center justify-content-between flex-wrap border mb-3 p-3 pb-0 rounded">
                                                            <div class="row align-items-center flex-fill">
                                                                <div class="col-xxl-7 col-lg-6">
                                                                    <div class="mb-3">
                                                                        <h6>Event Selection</h6>
                                                                        <p>Select one or more events to display on your
                                                                            site</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xxl-5 col-lg-6">
                                                                    <div class="mb-3 d-flex align-items-center gap-3">
                                                                        <div class="w-100">
                                                                            <select class="select2" multiple
                                                                                id="eventList">
                                                                                <% eventDetails?.forEach((event)=> { %>
                                                                                    <option
                                                                                        value="<%= event?.event_id %>"
                                                                                        <%=event?.selected ? 'selected'
                                                                                        : '' %>>
                                                                                        <%= event.event_title %> (<%=
                                                                                                event.event_type %>)
                                                                                    </option>
                                                                                    <% }); %>
                                                                            </select>

                                                                        </div>
                                                                        <button class="btn btn-primary" type="submit"
                                                                            onclick="saveSelection('event')">Save</button>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div
                                                            class="d-flex align-items-center justify-content-between flex-wrap border mb-3 p-3 pb-0 rounded">
                                                            <div class="row align-items-center flex-fill">
                                                                <div class="col-xxl-7 col-lg-6">
                                                                    <div class="mb-3">
                                                                        <h6>Teacher Selection</h6>
                                                                        <p>Select teachers to highlight on your site</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xxl-5 col-lg-6">
                                                                    <div class="mb-3 d-flex align-items-center">
                                                                        <div class="w-100">
                                                                            <select class="select2 w-100" multiple
                                                                                id="staffList">
                                                                                <% staffDetails?.forEach((staff)=> { %>
                                                                                    <option
                                                                                        value="<%= staff?.staff_id %>">
                                                                                        <%= staff?.staff_info?.first_name
                                                                                            %>
                                                                                            <%= staff?.staff_info?.last_name
                                                                                                %>
                                                                                    </option>
                                                                                    <% }); %>
                                                                            </select>

                                                                        </div>
                                                                        <button class="btn btn-primary" type="submit"
                                                                            onclick="saveSelection('staff')">Save</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row align-items-center mb-2">
                                                            <% settingDetails.forEach((testimonial)=> { %>
                                                                <% if (testimonial?.type==='testimonial' ) { %>
                                                                    <div class="card">
                                                                        <div class="card-body d-flex align-items-start"
                                                                            style="gap: 1rem;">
                                                                            <!-- Image (20% width) -->
                                                                            <div style="width: 20%;">
                                                                                <img src="<%= testimonial?.testimonial_image_uri %>"
                                                                                    alt="Logo"
                                                                                    class="img-fluid rounded w-100">
                                                                            </div>

                                                                            <!-- Content (title, description, icons) -->
                                                                            <div style="flex: 1 1 0;">
                                                                                <!-- Action icons at top-right -->
                                                                                <div
                                                                                    class="d-flex justify-content-end mb-2">
                                                                                    <a href="javascript:void(0);"
                                                                                        class="text-primary border rounded fs-16 p-1 badge badge-primary-hover me-2">
                                                                                        <i
                                                                                            class="ti ti-edit-circle"></i>
                                                                                    </a>
                                                                                    <a href="javascript:void(0);"
                                                                                        class="text-danger border rounded fs-16 p-1 badge badge-danger-hover">
                                                                                        <i class="ti ti-trash-x"></i>
                                                                                    </a>
                                                                                </div>

                                                                                <!-- Title & Description -->
                                                                                <h5 class="fw-bold">
                                                                                    <%= testimonial?.testimonial_person_name
                                                                                        %>
                                                                                </h5>
                                                                                <p class="text-muted mb-0">
                                                                                    <%= testimonial?.testimonial_description
                                                                                        %>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <% } %>
                                                                        <% }) %>

                                                                            <div
                                                                                class="position-absolute bottom-0 end-0 m-2">
                                                                                <button
                                                                                    class="btn btn-outline-none bg-white text-primary"
                                                                                    data-bs-toggle="modal"
                                                                                    data-bs-target="#addModal">
                                                                                    + Add
                                                                                </button>

                                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="custom_fields" style="display: none;">
                                        <div
                                            class="d-flex align-items-center justify-content-between flex-wrap border-bottom pt-3 mb-3">
                                            <div class="mb-3">
                                                <h5 class="mb-1">School Fields</h5>
                                                <p>School Fields configuration</p>
                                            </div>
                                            <div class="mb-3">
                                                <a href="#" class="btn btn-outline-light bg-white btn-icon me-2"
                                                    data-bs-toggle="modal" data-bs-target="#add_custom_field"><i
                                                        class="ti ti-plus"></i></a>
                                                <button class="btn btn-light me-2" type="button">Cancel</button>
                                                <button class="btn btn-primary" type="submit">Save</button>
                                            </div>
                                        </div>
                                        <div class="d-md-flex d-block">
                                            <div class="flex-fill">
                                                <div class="card">
                                                    <div
                                                        class="card-header d-flex align-items-center justify-content-between p-3">
                                                        <h5>Class</h5>
                                                    </div>
                                                    <div class="card-body p-3 pb-0">
                                                        <div class="row">
                                                            <div class="col-xl-4 pe-xl-0">
                                                                <div class="mb-3 flex-fill me-xl-3 me-0">
                                                                    <label class="form-label">Label</label>
                                                                    <input class="input-tags form-control" type="text"
                                                                        data-role="tagsinput" name="language_known"
                                                                        value="English, Spanish"
                                                                        placeholder="Eg : English, Spanish" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div
                                                        class="card-header d-flex align-items-center justify-content-between p-3">
                                                        <h5>Transaction</h5>
                                                        <div class="d-flex align-items-center">
                                                            <a href="#"
                                                                class="btn btn-outline-light bg-white btn-icon me-2"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#edit_custom_field"><i
                                                                    class="ti ti-edit"></i></a>
                                                            <a href="#" class="btn btn-outline-light bg-white btn-icon"
                                                                data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                                                                    class="ti ti-trash"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="card-body p-3 pb-0">
                                                        <div class="row">
                                                            <div class="col-xl-4 pe-xl-0">
                                                                <div class="mb-3 flex-fill me-xl-3 me-0">
                                                                    <label class="form-label">Label</label>
                                                                    <input type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 ps-xl-0 pe-xl-0">
                                                                <div class="mb-3 flex-fill  me-xl-3 me-0">
                                                                    <label class="form-label">Type</label>
                                                                    <input type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 ps-xl-0">
                                                                <div class="mb-3 flex-fill">
                                                                    <label class="form-label">Default Value</label>
                                                                    <input type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xl-4 pe-xl-0">
                                                                <div class="mb-3 flex-fill me-xl-3 me-0">
                                                                    <label class="form-label">Required Value</label>
                                                                    <input type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 ps-xl-0">
                                                                <div class="mb-3 flex-fill">
                                                                    <label class="form-label">Status</label>
                                                                    <input type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- /Page Wrapper -->
                <script>
                    function showSection(id, el) {
                        // Show the correct container
                        document.getElementById('invoice_settings').style.display = 'none';
                        document.getElementById('custom_fields').style.display = 'none';
                        document.getElementById(id).style.display = 'block';

                        // Toggle active class on tab
                        document.querySelectorAll('.tab').forEach(a => a.classList.remove('active'));
                        el.classList.add('active');
                    }
                </script>

    </div>
    <!-- /Main Wrapper -->
    <script src="js/api.js">
    </script>
    <script src="js/uploadFile.js"></script>

          <script src="assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"
    type="6dc0a9d0ac43462e72fa7502-text/javascript"></script>

    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>

    <!-- jQuery -->
    <script src="assets/js/jquery-3.7.1.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Bootstrap Core JS -->
    <script src="assets/js/bootstrap.bundle.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Daterangepikcer JS -->
    <script src="assets/js/moment.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>
    <script src="assets/plugins/daterangepicker/daterangepicker.js"
        type="299570f26b967fcbb12c0f58-text/javascript"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Feather Icon JS -->
    <script src="assets/js/feather.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Slimscroll JS -->
    <script src="assets/js/jquery.slimscroll.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Chart JS -->
    <script src="assets/plugins/apexchart/apexcharts.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>
    <script src="assets/plugins/apexchart/chart-data.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Owl JS -->
    <script src="assets/plugins/owlcarousel/owl.carousel.min.js"
        type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Select2 JS -->
    <script src="assets/plugins/select2/js/select2.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Counter JS -->
    <script src="assets/plugins/countup/jquery.counterup.min.js"
        type="299570f26b967fcbb12c0f58-text/javascript"></script>
    <script src="assets/plugins/countup/jquery.waypoints.min.js" type="299570f26b967fcbb12c0f58-text/javascript">
    </script>
    <script src="assets/js/jquery.dataTables.min.js" type="a41ddb779e2e984c7d703083-text/javascript"></script>
    <script src="assets/js/dataTables.bootstrap5.min.js" type="a41ddb779e2e984c7d703083-text/javascript"></script>
    <!-- Custom JS -->
    <script src="assets/js/script.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <script
        src="https://preskool.dreamstechnologies.com/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="299570f26b967fcbb12c0f58-|49" defer></script>



    <script>
        const BACKEND_URL = "<%= BACKEND_URL %>";
        const eventSettingId = "<%= eventSettingId %>";
        const staffSettingId = "<%= staffSettingId %>";
        console.log(eventSettingId)

        let image_uri = undefined
        const handleFileUpload = async (event) => {
            const file = event.target.files[0]
            console.log(file)
            const url = await uploadFile(file, "/settings/website/" + file.name, BACKEND_URL)
            console.log(url)
            if (!url) {
                alert(url?.message)
                return
            }
            image_uri = url
        }
        async function saveSetting(settingType) {
            const form = document.getElementById("addForm")
            const formData = new FormData(form)
            let payload = {}
            let renamedPayload = {}
            for (const [key, value] of formData.entries()) {
                payload[key] = value instanceof File ? value.name : value
            }
            console.log("calling1")
            if (!image_uri) return
            console.log("calling2")

            if (settingType == "carousel") {
                renamedPayload['home_carousel_title'] = payload?.title
                renamedPayload['home_carousel_description'] = payload?.description
                renamedPayload['home_carousel_image_uri'] = image_uri
                renamedPayload['home_carousel_created_on'] = new Date()
                renamedPayload["type"] = "home_carousel"
            }


            const saveSettingResponse = await fetchWithTimeout(`${BACKEND_URL}/setting/update_setting_details`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(renamedPayload)
            })
            if (!saveSettingResponse.success) {
                alert(saveSettingResponse.message)
                return
            }
            image_uri = undefined
            //handle success


        }

        async function saveSelection(select_type) {
            const eventSelect = document.getElementById("eventList");
            const staffList = document.getElementById("staffList");
            let payload = {}
            if (select_type == "event") {
                const selectedValues = Array.from(eventSelect.selectedOptions).map(option => option.value);
                console.log(selectedValues)
                payload['event_ids'] = selectedValues
                payload['type'] = "event_info"
                payload['setting_id'] = eventSettingId
            }
            else if (select_type == "staff") {
                const selectedValues = Array.from(staffList.selectedOptions).map(option => option.value);
                console.log(selectedValues)
                payload['staff_ids'] = selectedValues
                payload['type'] = "staff_info"
                payload['setting_id'] = staffSettingId
            }

            const saveSettingResponse = await fetchWithTimeout(`${BACKEND_URL}/setting/update_setting_details`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(payload)
            })
            if (!saveSettingResponse.success) {
                alert(saveSettingResponse.message)
                return
            }
            //handle success

        }
    </script>
</body>

</html>