<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Preskool - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, html5, responsive, Projects">
    <meta name="author" content="Dreams technologies - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Happy Feet | Contact</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- Theme Script js -->
    <script src="assets/js/theme-script.js" type="168959eb17cf6078c6a34461-text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Feather CSS -->
    <link rel="stylesheet" href="assets/plugins/icons/feather/feather.css">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="assets/plugins/tabler-icons/tabler-icons.css">

    <!-- Daterangepikcer CSS -->
    <link rel="stylesheet" href="assets/plugins/daterangepicker/daterangepicker.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">


</head>

<body>
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content rounded-2">
      <div class="modal-header">
        <h5 class="modal-title">Contact Request Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <p><strong>Contact ID:</strong> <span id="contactModalId"></span></p>
          <p><strong>Name:</strong> <span id="contactModalName"></span></p>
          <p><strong>Email:</strong> <span id="contactModalEmail"></span></p>
          <p><strong>Child Name:</strong> <span id="contactModalChildName"></span></p>
          <p><strong>Child Age:</strong> <span id="contactModalChildAge"></span></p>
          <p><strong>Message:</strong> <span id="contactModalMessage"></span></p>
          <p><strong>Created On:</strong> <span id="contactModalCreatedOn"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>


    <div id="global-loader">
        <div class="page-loader"></div>
    </div>
    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
       <%- include('header') %>
        <!-- /Header -->

        <!-- Sidebar -->
       <%- include('sidebar') %>
        <!-- /Sidebar -->

        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <div class="content content-two">

                <!-- Page Header -->
                <div class="d-md-flex d-block align-items-center justify-content-between mb-3">
                    <div class="my-auto mb-2">
                        <h3 class="page-title mb-1">Contact</h3>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    Peoples
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- /Page Header -->

                <!-- Filter -->
                <div class="bg-white p-3 border rounded-1 d-flex align-items-center justify-content-between flex-wrap mb-4 pb-0">
                    <h4 class="mb-3">Contact</h4>

                </div>
                <!-- /Filter -->

                <div class="row" id="grid-view" style="display: none;">
                    <% contactData.map((contact) => { %>
                    <!-- Student Grid -->
                    <div class="col-xxl-3 col-xl-4 col-md-6 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <a href="student-details.html" class="link-primary"><%=contact?.contact_id%></a>
                                <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="ti ti-dots-vertical fs-14"></i>
										</a>
                                        <ul class="dropdown-menu dropdown-menu-right p-3">
                                            <li>
                                                <a class="dropdown-item rounded-1"  data-bs-toggle="modal" data-bs-target="#contactModal" data-contact='<%- JSON.stringify(contact) %>'><i class="ti ti-menu me-2"></i>View Details</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#" data-bs-toggle="modal" data-bs-target="#delete-modal" data-contact_id="<%=contact?.contact_id%>"><i class="ti ti-trash-x me-2"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="bg-light-300 rounded-2 p-3 mb-3">
                                    <div class="d-flex align-items-center">
                                        <a href="student-details.html" class="avatar avatar-lg flex-shrink-0"><img src="https://cdn.pixabay.com/photo/2023/10/05/07/38/appointment-8295104_1280.png" alt="img" class="img-fluid rounded-circle" alt="img"></a>
                                        <div class="ms-2">
                                            <h5 class="mb-0" class="text-dark text-truncate"><a href="student-details.html">Appointment</a></h5>
                                            <p>Created On : <%=contact?.created_on%></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between gx-2">
                                    <div>
                                        <p class="mb-0">Appointment Expected On</p>
                                        <p class="text-dark"><%= contact?.appointment_expected_date?.split('T')[0] %></p>
                                    </div>
                                    <div>
                                        <p class="mb-0">Parent name</p>
                                        <p class="text-dark"><%=contact?.name%></p>
                                    </div>
                                    <div>
                                        <p class="mb-0">Child Name</p>
                                        <p class="text-dark"><%=contact?.child_name%></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="mailto:<%=contact?.email%>" class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-3"><i class="ti ti-mail"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <!-- /Student Grid -->
                   
                </div>
     <div class="card-body p-0 py-3" id="list-view">

                        <!-- Student List -->
                        <div class="custom-datatable-filter table-responsive">
                            <table class="table datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="no-sort">
                                            <div class="form-check form-check-md">
                                                <input class="form-check-input" type="checkbox" id="select-all">
                                            </div>
                                        </th>
                                        <th>Contact ID</th>
                                        <th>Contact Title</th>
                                        <th>Created On </th>
                                        <th>Appointment Expected Date</th>
                                        <th>Parent Name</th>
                                        <th>Child Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% contactData?.forEach((contact) => { %>
                                    <tr>
                                        <td>
                                            <div class="form-check form-check-md">
                                                <input class="form-check-input" type="checkbox">
                                            </div>
                                        </td>
                                        <td><a href="student-details.html" class="link-primary"><%=contact?.contact_id%></a></td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="student-details.html" class="avatar avatar-md"><img
														src="https://cdn.pixabay.com/photo/2023/10/05/07/38/appointment-8295104_1280.png"
														class="img-fluid rounded-circle" alt="img"></a>
                                                <div class="ms-2">
                                                    <p class="text-dark mb-0"><a href="student-details.html">Appointment</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td><%=contact?.created_on%></td>
                                        <td><%=contact?.appointment_expected_date?.split('T')[0]%></td>
                                        <td><%=contact?.name%></td>
                                        <td><%=contact?.child_name%></td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="mailto:<%=contact?.email%>" class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-3"><i
														class="ti ti-mail"></i></a>
                                                <div class="dropdown">
                                                    <a href="#" class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0" data-bs-toggle="dropdown" aria-expanded="false">
														<i class="ti ti-dots-vertical fs-14"></i>
													</a>
                                                    <ul class="dropdown-menu dropdown-menu-right p-3">
                                                        <li>
                                                            <a class="dropdown-item rounded-1" data-bs-toggle="modal" data-bs-target="#contactModal" data-contact='<%- JSON.stringify(contact) %>'><i
																	class="ti ti-menu me-2"></i>View Details</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item rounded-1" href="#" data-bs-toggle="modal"  data-contact_id="<%=contact?.contact_id%>" data-bs-target="#delete-modal"><i
																	class="ti ti-trash-x me-2"></i>Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <!-- /Student List -->
                    </div>
            </div>
        </div>
        <!-- /Page Wrapper -->



        <!-- Delete Modal -->
        <div class="modal fade" id="delete-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                        <div class="modal-body text-center">
                            <span class="delete-icon">
								<i class="ti ti-trash-x"></i>
							</span>
                            <h4>Confirm Deletion</h4>
                            <p>You want to delete all the marked items, this cant be undone once you delete.</p>
                            <div class="d-flex justify-content-center">
                                <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                                <button type="submit" class="btn btn-danger" id="delete_btn" onclick="handleDeleteContact()">Yes, Delete</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- /Delete Modal -->

    </div>
             <script src="assets/js/api.js"></script>

    <script>
        const BACKEND_URL="<%= BACKEND_URL %>"

        let deleteContactId = undefined

        document.addEventListener("DOMContentLoaded", function () {
            const modal = document.getElementById("delete-modal");

            modal.addEventListener("show.bs.modal", function (event) {
                const trigger = event.relatedTarget;
                deleteContactId = trigger.getAttribute("data-contact_id");

            });
        });

        const handleDeleteContact = async() => {
            
            if(deleteContactId){
                try{
                    document.getElementById("delete_btn").disabled = true

                    const deleteContact=await fetchWithTimeout(`${BACKEND_URL}/contact/delete_contact_request_details?contact_id=${deleteContactId}`,{
                        method:"DELETE",
                    })
                    document.getElementById("delete_btn").disabled = false
                    if(!deleteContact?.success){
                        //handle success popup
                        location.reload();
                    }
                    else{
                        //handle error
                    }
                }
                catch(err){
                    
                }
            }
        }

    </script>
    <script>
  document.addEventListener("DOMContentLoaded", function () {
    const contactModal = document.getElementById("contactModal");

    contactModal.addEventListener("show.bs.modal", function (event) {
      const trigger = event.relatedTarget;
      const contactRaw = trigger.getAttribute("data-contact");
      const contact = JSON.parse(contactRaw);
      console.log(contact)

      document.getElementById("contactModalId").textContent = contact.contact_id || "N/A";
      document.getElementById("contactModalName").textContent = contact.name || "N/A";
      document.getElementById("contactModalEmail").textContent = contact.email || "N/A";
      document.getElementById("contactModalChildName").textContent = contact.child_name || "N/A";
      document.getElementById("contactModalChildAge").textContent = contact.child_age || "N/A";

      document.getElementById("contactModalMessage").textContent = contact.message || "N/A";
      document.getElementById("contactModalCreatedOn").textContent = contact.created_on || "N/A";
    });
  });
</script>

    <script>
  const listBtn = document.getElementById('listViewBtn');
  const gridBtn = document.getElementById('gridViewBtn');
  const listView = document.getElementById('list-view');
  const gridView = document.getElementById('grid-view');

  listBtn.addEventListener('click', (e) => {
    e.preventDefault();
    listView.style.display = 'block';
    gridView.style.display = 'none';

    listBtn.classList.add('active');
    listBtn.classList.add('primary-hover');
    gridBtn.classList.remove('active');
    gridBtn.classList.remove('primary-hover');
  });

  gridBtn.addEventListener('click', (e) => {
    e.preventDefault();
    listView.style.display = 'none';
    gridView.style.display = 'flex';

    listBtn.classList.remove('active');
    listBtn.classList.remove('primary-hover');
    gridBtn.classList.add('active');
    gridBtn.classList.add('primary-hover');
  });
</script>
<style>
    .primary-hover{
            background: #3D5EE1 !important;
    color: #FFF;
    }
</style>



    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="assets/js/jquery-3.7.1.min.js" type="168959eb17cf6078c6a34461-text/javascript"></script>

    <!-- Bootstrap Core JS -->
    <script src="assets/js/bootstrap.bundle.min.js" type="168959eb17cf6078c6a34461-text/javascript"></script>

    <!-- Daterangepikcer JS -->
    <script src="assets/js/moment.js" type="168959eb17cf6078c6a34461-text/javascript"></script>
    <script src="assets/plugins/daterangepicker/daterangepicker.js" type="168959eb17cf6078c6a34461-text/javascript"></script>

    <!-- Feather Icon JS -->
    <script src="assets/js/feather.min.js" type="168959eb17cf6078c6a34461-text/javascript"></script>

    <!-- Datetimepicker JS -->
    <script src="assets/js/bootstrap-datetimepicker.min.js" type="168959eb17cf6078c6a34461-text/javascript"></script>



    <!-- Select2 JS -->
    <script src="assets/plugins/select2/js/select2.min.js" type="168959eb17cf6078c6a34461-text/javascript"></script>

    <!-- Custom JS -->
    <script src="assets/js/script.js" type="168959eb17cf6078c6a34461-text/javascript"></script>

    <script src="assets/js/rocket-loader.min.js" data-cf-settings="168959eb17cf6078c6a34461-|49" defer></script>

</body>

</html>